html{
    background: #a3d2d5;
    height: 805px;
    color: #45625d;
    
    font-size: 30px;
}
h2{
    text-align: center;
}

button{
    background: #6aa5a9;
    font-size: 30px;
    margin: 10px;
    width: 25%;
    height: 50px;
    border: none;
    margin-left: 70px;
}


p{
    margin-left: 60px;
    width: 45%;
    float: left;
}
button:hover{
    width: 25%;
    color: #6aa5a9;
    background: #9ccfa0;
    opacity: 1;
    transition: opacity 1s, width 1s;
}

article{
    text-align: center;
}

input{
    width: 250px;
    height: 25px;
    border: #6aa5a9;
    border-width: 2px;
    border-style: solid;
}